/* Dabin Chae 07/24/21*/
header { color: #6d7376; font-size: 20pt; }
/* header style*/

main { font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 12pt;}
/* main style*/

nav {display: none;}
/* navigation style*/